@font-face {
  font-family: 'Circular-Std-Black';
  src: url("../public/fonts/CircularStd-Black.otf") format("opentype");
}

@font-face {
  font-family: 'Circular-Std-Bold';
  src: url("../public/fonts/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Circular-Std-Book';
  src: url("../public/fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: 'Circular-Std-Medium';
  src: url("../public/fonts/CircularStd-Medium.otf") format("opentype");
}

@import '~antd/dist/antd.less';
