image: node:14-buster

options:
  max-time: 15 # max time in minutes for each step

definitions:
  caches:
    nodemodules: 'node_modules/'
    nextcache: 'dist/**/.next/cache'
    yarncustom: '/usr/local/share/.cache/yarn'
#  services:
#    docker:
#      memory: 2048

pipelines:
  default:
    - step:
        name: Build and Test branch
        caches:
          - nodemodules
          - nextcache
          - yarncustom
        script:
          - yarn
          - yarn run nx affected --all --target=lint
#          - yarn run nx affected --all --target=build
#          - yarn run nx affected --target=lint --base=master~1
#          - yarn run nx affected --target=test --base=master~1 --head=master
#          - yarn run nx affected --target=build --base=master~1
  branches:
    master:
      - step:
          size: 2x
          name: New Deploy scripot
          caches:
            - nodemodules
            - nextcache
            - yarncustom
          script:
            - yarn install --frozen-lockfile
            - yarn affected:build --base=HEAD~1 --prod
            - yarn affected:lint --base=HEAD~1
            - yarn affected:lint --base=HEAD~1 --with-deps
            - yarn affected:test --base=HEAD~1 || true
            - apt update -y && apt install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xauth xvfb
            - yarn affected:e2e --base=HEAD~1 || true
            - yarn affected --base=HEAD~1 --target=export --prod
            - yarn deploy
#      - step:
#          size: 2x
#          name: e2e
#          caches:
#            - nextcache
#

