.servicesTabMain {
  :global {
    .ant-tabs-left {
      .ant-tabs-nav-wrap {
        border-bottom: 1px solid #ecedf0;
      }
      .ant-tabs-tab {
        height: 40px;
        padding: 0 !important;
        &.ant-tabs-tab-active {
          background-color: #eef7fb !important;
        }
        &.ant-tabs-tab-disabled {
          cursor: default;
        }
      }
    }
    .ant-table-footer {
      padding: 0px 16px;
      background-color: #ffffff;
    }
  }
  .servicesSectionHeading {
    border-bottom: 1px solid #ecedf0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 25px;

    & > div {
      display: flex;
      align-items: center;

      &:first-child {
        cursor: pointer;
        div {
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #3d3d46;
          margin-right: 10px;
        }
        svg {
          margin-top: 2.5px;
          fill: #9292a3;
          transition: all 0.25s;
        }
        &:hover {
          svg {
            transform: rotate(180deg);
            fill: #54b2d3;
          }
        }
      }
      &:last-child {
        button:first-child {
          margin-right: 15px;
          padding-left: 1.5em;
          padding-right: 1.5em;
        }
        button:last-child {
          padding: 1.5em;
        }
      }
    }
  }
  .serviceName {
    display: flex;
    align-items: center;

    span {
      margin-right: 7.5px;
    }

    span.dot {
      width: 7px;
      height: 7px;
      margin-top: -2px;
      border-width: 2px;
      border-style: solid;
      border-radius: 50%;
    }
  }

  .staff {
    span.staffCount:hover {
      color: #54b2d3;
    }
  }

  .editIconsDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    span {
      margin-right: 12.5px;

      &:hover {
        svg path {
          fill: #54b2d3 !important;
        }
      }
    }
  }
}

:global {
  .ant-dropdown-menu {
    border-radius: 2px;
    padding: 0px;

    .ant-dropdown-menu-item {
      color: #9292a3;
      padding: 10px 3em 10px 10px;
      background-color: transparent;
      &.active {
        color: #54b2d3;
        background-color: #eef7fb;
      }
      &:hover {
        background-color: #eef7fb;
      }
    }
  }

  .ant-popover-inner-content {
    .avatarsPopover {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      padding: 12px;
      max-width: 184px !important;
    }
  }
}

.groupsItem {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 24px;
  > span {
    &:nth-child(1) {
      font-family: var(--font-family);
      font-size: 14px;
      line-height: 18px;
    }
  }
  :global {
    .anticon {
      margin: 0 !important;
    }
  }
}

.tabMenuItem {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 24px;
  > span {
    &:nth-child(1) {
      font-family: var(--font-family);
      font-size: 14px;
      line-height: 18px;
    }
  }
  &:hover {
    > span {
      &:nth-child(1) {
        color: var(--primary-color);
      }
    }
  }
}

.tabMenuItemOps {
  display: flex;
  align-items: center;
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--border-color-base);
    font-size: 14px;
    color: var(--light-grey-color);
    :global {
      .anticon {
        margin: 0 !important;
      }
    }
  }
}

.createServiceGroup {
  :global {
    .ant-modal {
      padding: 0;
    }
    .ant-modal-body {
      & > div {
        label {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          align-items: center;
          color: #9292a3;
          padding-top: 30px;
          margin-bottom: 2.5px;
        }
      }
      .chooseImageInput button {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
      }
      .footerBtnInput {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        div:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          label {
            margin-top: 5px;
            padding: 0px 10px 0px 0px;
          }
        }
        div:not(:first-child) {
          button {
            margin-left: 15px;
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }
}