@import '~antd/dist/antd.less';
@primary-color: #54b2d3; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f5222d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers


// To override ant-design global styles we prefix with "body" so we dont need !important
body {
  .ant-input-affix-wrapper:hover,
  .ant-input-affix-wrapper:focus {
    border: 1px solid #54b2d3;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px #c0e4f1;
    //border-radius: 25px;
  }
  .ant-btn {
    text-transform: uppercase !important;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .ant-layout-footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 1em;
  }


}




@keyframes spin {
  from {
    transform: rotateX(0deg);
    transform-origin: center;
  }
  to {
    transform: rotateX(360deg);
    transform-origin: center;
  }
}
svg.imageSpin {
  .spin {
    animation-name: spin;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 0.8s;
    animation-play-state: paused;
  }

  .animation-delay-1 {
    animation-delay: 0s;
  }

  .animation-delay-2 {
    animation-delay: 0.1s;
  }

  .animation-delay-3 {
    animation-delay: 0.2s;
  }

  .animation-delay-4 {
    animation-delay: 0.3s;
  }

  .animation-delay-5 {
    animation-delay: 0.4s;
  }

  &:hover {
    .spin {
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-play-state: running;
    }

    .imageSpin:hover .animation-delay-1 {
      animation-delay: 0s;
    }

    .imageSpin:hover .animation-delay-2 {
      animation-delay: 1s;
    }

    .imageSpin:hover .animation-delay-3 {
      animation-delay: 2s;
    }

    .imageSpin:hover .animation-delay-4 {
      animation-delay: 3s;
    }

    .imageSpin:hover .animation-delay-5 {
      animation-delay: 4s;
    }
  }
}

