.appointment-wrapper {
  background: #fff;
  border-bottom: 1px solid #ecedf0;
  @media screen and (max-width: 767px) {
    h1 {
      padding-top: 20px;
    }
  }
}

.search-input-style {
  height: 40px;
  box-shadow: 0px 0px 4px #c0e4f1;
  border-radius: 2px;
  .ant-input-affix-wrapper:focus {
    border: 1px solid #54b2d3 !important;
    box-shadow: none !important;
  }
}

.text {
  //font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #9292a3;
}

.highlight-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #54b2d3;
  text-decoration: underline;
  cursor: pointer;
}
