.giftVoucherMain {
  :global {
    .ant-card-head,
    .ant-card-head-title,
    .ant-card-body {
      padding: 0px;
    }
    .ant-tabs {
      min-height: 70vh !important;
    }
    .ant-tabs-tab {
      padding: 15px 50px !important;
      background-color: transparent !important;
    }
    .leftPadding {
      padding-left: 30px !important;
    }
    th.leftPadding {
      padding-left: 15px !important;
    }
    .ant-table-thead > tr > th:hover {
      background: #eef7fb !important;
    }
  }
  .header {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ecedf0;

    button {
      margin-left: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
    :global {
      div.leftDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .ant-breadcrumb {
          padding: 0px;
          margin: 10px 0px 5px 0px;
        }

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          color: #3d3d46;
          margin: 5px 0px 10px 0px;
        }
      }
      div.rightDiv {
        display: flex;
        align-items: center;
      }
    }
  }
  .body {
    .types {
      padding: 10px;

      :global {
        .ant-col {
          padding: 10px;
        }
      }

      .voucherCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
}
