.headerCRUD {
  float: right;
}
.GridVsList{
  padding-left: 10px;
  div.ant-radio-group.ant-radio-group-outline {
    padding-top: 10px;
    position: absolute;
  }
}
.GridIcons {
  font-size: 1.1em;
  padding-top: 10px;
  box-sizing: border-box;
  font-weight: 500;
}
