.client-notifications-content {
  background-color: white;
  width: 100%;
  margin-top: 32px;
}

.client-notifications-subtitle {
  background-color: white;
  width: 440px;
  font-size: 14px;
  line-height: 18px;
  color: #9292a3;
  margin: 0;
  padding: 0 0 24px 24px;
}

.client-inner-notifications {
  min-height: 592px;
}