.headerBanner {
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #E9FAFF;
  width: 100%;
  padding: 20px;
  position: relative;

  .img {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border-width: 0;
    color: #7e7e7e;
  }
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .searchBarContainer {
    display: flex;
    align-items: center;
    padding: 0 24px;

    @media (max-width: 991px) {
      justify-content: space-between;
      flex: 1;
    }

    .searchBar {
      margin-right: 1rem;
    }
  }
}

.subTitle {
  color: #3D3D46;
  font-weight: 700;
}
