.mainCreateVoucher {
  :global {
    .ant-card-head,
    .ant-card-body {
      padding-left: 0px;
      padding-right: 0px;
    }
    .ant-card-body {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    hr.Wizard_bottomline__1H48w {
      margin: 0px;

      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    .ant-tabs-tab {
      background-color: transparent;
      padding: 12px 60px !important;
    }
  }

  .showDefault {
    @media screen and (max-width: 525px) {
      display: none;
    }
  }

  .hideDefault {
    display: none;
    @media screen and (max-width: 525px) {
      display: block;

      :global {
        .ant-tabs-nav-list {
          width: 100%;
          .ant-tabs-tab {
            width: 100%;
            padding: 12px 0px !important;
            display: flex;
            justify-content: center;
          }
        }
        .VoucherCard_voucherCardMain__1otWm {
          padding: 0px 50px !important;

          .flip-card {
            max-width: 100% !important;
          }
        }
      }
    }
    @media screen and (max-width: 375px) {
      :global {
        .VoucherCard_voucherCardMain__1otWm {
          padding: 0px 70px !important;

          .flip-card {
            max-width: 100% !important;
          }
        }
      }
    }
    @media screen and (max-width: 320px) {
      :global {
        .VoucherCard_voucherCardMain__1otWm {
          padding: 0px 100px !important;

          .flip-card {
            max-width: 100% !important;
          }
        }
      }
    }
  }

  .voucherBuilderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .leftCardHeading {
      padding: 0px 24px;

      @media screen and (max-width: 525px) {
        padding: 0px 24px 10px 24px;
        width: 100%;
      }

      .breadcrumbDiv {
        :global .ant-breadcrumb {
          padding: 0px;
          margin-bottom: 10px;
        }
      }
      .heading {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        color: #3d3d46;
      }
    }
    .rightCardHeadBtns {
      padding: 0px 24px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .switchDiv {
        span:first-child {
          margin-right: 15px;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: #3d3d46;
        }
      }
      .hrefDiv a {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #54b2d3;
      }
      @media screen and (max-width: 525px) {
        padding: 12.5px 24px 0px 24px;
        border-top: 1px solid #ecedf0;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;

        .switchDiv {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
  }
  .voucherBuilderBody {
    .voucherBuilderSection {
      border-bottom: 1px solid #ecedf0;
      margin-bottom: 80px;
      .heading {
        padding: 10px 25px;
        border-bottom: 1px solid #ecedf0;
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #9292a3;
        }

        @media screen and (max-width: 992px) {
          border-top: 1px solid #ecedf0;
        }
      }

      .marginBottom {
        margin-bottom: 25px;
      }

      :global {
        label {
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          align-items: center;
          color: #9292a3;
          margin-bottom: 2.5px;
        }
      }

      .voucherBuilderControls {
        border-right: 1px solid #ecedf0;

        @media screen and (max-width: 1024px) {
          &.ant-col-lg-6 {
            display: block !important;
            flex: 0 0 40% !important;
            max-width: 40% !important;
          }
        }
        .controls {
          padding: 30px;
          .contDiv {
            margin-bottom: 25px;
            .contHeading {
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: #3d3d46;
            }
            .contHeadingMin {
              font-weight: 500;
              font-size: 14px;
              line-height: 18px;
              color: #3d3d46;
            }
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 18px;
              color: #9292a3;
              margin-top: 12.5px;
            }
            label {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            div {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;

              &.topMargin {
                margin-top: 12.5px;
                margin-bottom: 12.5px;
              }

              label {
                margin-left: 12.5px;
                margin-top: 2.5px;
              }
            }
          }
          .themesDiv {
            margin-bottom: 15px;
            & > div:first-child {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: wrap;

              span:first-child {
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #3d3d46;
              }
              .plus {
                background: #eef7fb;
                border-radius: 6px;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #54b2d3;
                margin-left: 10px;
                padding: 5px 10px;
              }
            }
            & > div:last-child {
              .pLeft {
                padding-left: 5px;
              }
              .pX {
                padding-left: 5px;
                padding-right: 5px;
              }
              .pRight {
                padding-right: 5px;
              }

              .bgImgTheme {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 5px;

                div {
                  cursor: pointer;
                  border: 1px solid #ecedf0;
                  height: 50px;
                  width: 100%;
                  margin-bottom: 5px;
                  border-radius: 2px;
                  background-repeat: no-repeat;
                  background-position: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &.selectedColor {
                    border: 2px solid green;
                  }
                }
                span {
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 18px;
                  color: #9292a3;
                }

                &:not(:last-child) div {
                  background-size: cover;
                }

                &:last-child div {
                  background-image: url('../../../../components/Marketing/CreateGiftVoucher/assets/cloud-upload.png') !important;
                  border: 1px solid #54b2d3 !important;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                &:last-child span {
                  display: none !important;
                }
              }
              .bgColorTheme {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 5px;

                div {
                  cursor: pointer;
                  border: 2px solid transparent;
                  height: 50px;
                  width: 100%;
                  margin-bottom: 5px;
                  border-radius: 2px;
                  background-repeat: no-repeat;
                  background-position: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &.selectedColor {
                    border: 2px solid green;
                  }
                }
              }
            }
          }
        }
      }

      .generalPadding {
        padding: 40px 20px;
      }
      .listingHead {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;

        :global {
          div:first-child {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #3d3d46;
          }
          div:last-child {
            input {
              min-width: 250px;
            }
          }
        }
      }

      .voucherPreviewSelection {
        @media screen and (max-width: 1024px) {
          &.ant-col-lg-18 {
            display: block !important;
            flex: 0 0 60% !important;
            max-width: 60% !important;
          }
        }

        .voucherPreview {
          .previewHeader {
            border-bottom: 1px solid #ecedf0;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;

            div:first-child {
              font-weight: normal;
              font-size: 24px;
              line-height: 32px;
              color: #3d3d46;
              margin-bottom: 5px;
            }
            div:last-child {
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #9292a3;
            }
          }
          .previewCard {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 50px;

            .card {
              min-width: 500px;
              max-width: 100% !important;
            }
          }
        }
      }
    }
  }
}

:global {
  label {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #9292a3;
  }
  input {
    font-size: 14px !important;

    &::placeholder {
      font-size: 14px !important;
    }
  }
  .ant-select-selector {
    font-size: 14px !important;
  }
}
